<br/>
    <table class="mx-auto" style="font-size: x-large;">
        <tr>
            <td><a href="#"><span style="color:#4267B2;" class="fab fa-facebook-square"></span></a></td>
            <td></td>
            <td><a href="#"><span style="color:#1DA1F2;" class="fab fa-twitter-square"></span></a></td>
            <td></td>
            <td><a href="#"><span style="color:#FF0000;" class="fab fa-youtube"></span></a></td>
            <td></td>
            <td><a href="#"><span style="color:#0077B5;" class="fab fa-linkedin"></span></a></td>
            <td></td>
            <td><a href="#"><span style="color:#6ACD64;" class="fab fa-whatsapp-square"></span></a></td>
            <td></td>
            <td><a href="#"><span style="color:#0088CC;" class="fab fa-telegram"></span></a></td>
            <td></td>
            <td><a href="#"><span style="color:#D34836;" class="fab fa-google-plus-square"></span></a></td>
            <td></td>
            <td><a href="#"><span style="color:#FFFF00;" class="fas fa-envelope"></span></a></td>	
        </tr>
        <tr>
            <p class="text-center">All rights reserved &copy; 2020</p>
        </tr>
    </table>
<br/>