<br/>
<h1 th:text="${productName}" class="text-center"></h1>
<img th:src="${'/assets/' + productImage}" class="center" style="width:500px; height:500px;"/>
<br/>
<b>Categories:</b>
<a th:each="category : ${productCategories}" th:href="${'/categories/' + category.name}" class="btn btn-warning mr-1 ml-1 mt-1 mb-1">
    <span th:text="${category.name}"></span>
    <span class="fas fa-tag"></span>
</a>
<br/>
<b>Description:</b>
<div th:utext="${productDescription}"></div>
<b>Price: </b><span th:text="${productPrice + '$'}" style="color:red;"></span>
<button th:if="${loggedIn}" class="btn btn-warning" id="add-to-cart-button">Add to cart <span class="fas fa-cart-plus"></span></button>
<br/>
<br/>
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

<div th:if="${loggedIn}" class="modal fade" 
        id="product-add-modal" 
        th:data-current-product-id="${productId}"
        th:data-current-product-price="${productPrice}">
    <div class="modal-dialog">
        <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #272822 !important; color:#fff;">
            <h4 class="modal-title">Product info</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <!-- Modal body -->
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td>Product name:</td>
                            <td><b th:text="${productName}"></b></td>
                        </tr>
                        <tr>
                            <td>Unit price:</td>
                            <td><b th:text="${productPrice + '$'}"></b></td>
                        </tr>
                        <tr>
                            <td>Quantity:</td>
                            <td><input type="number" 
                                        id="product-quantity" 
                                        value="1" 
                                        required 
                                        class="text-center form-control"/></td>
                        </tr>
                        <tr>
                            <td>Total price:</td>
                            <td><b id="total-price" class="text-center"></b>$</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button class="btn btn-block btn-info" id="confirm-button">Confirm <span class="fa fa-check"></span></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div id="result" class="alert mt-5"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        
        <!-- Modal footer -->
            <div class="modal-footer" style="background-color: #272822 !important;">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
            
        </div>
    </div>
</div>

<script th:if="${loggedIn}">
    $(function() {
        var product_price = Number($("#product-add-modal").attr("data-current-product-price"));
        $("#total-price").html(product_price);
        $("#add-to-cart-button").on("click", function(e) {
            e.preventDefault();
            $("#product-add-modal").modal();
        });

        $("#product-quantity").on("change", function() {
            var product_price = Number($("#product-add-modal").attr("data-current-product-price"));
            var quantity = Number($(this).val());
            if (!Number.isInteger(quantity) || quantity <= 0) {
                $("#result")
                .addClass("alert-danger")
                .removeClass("alert-success")
                .html("The quantity can only be an integer bigger than zero");
            }
            else {
                $("#result")
                .removeClass("alert-danger")
                .removeClass("alert-success")
                .html(null);
                $("#total-price").html(quantity * product_price);
            }
        });

        $("#confirm-button").on("click", function() {
            var product_id = Number($("#product-add-modal").attr("data-current-product-id"));
            var quantity = Number($("#product-quantity").val());

            $.ajax({
                url : "/cart/add",
                method : "POST",
                data : {
                    product_id : product_id,
                    quantity : quantity
                },
                success : function(data, status, xhr) {
                    if (data.isOkay) {
                        $("#result")
                        .removeClass("alert-danger")
                        .addClass("alert-success")
                        .html("The product has been added successfully");
                    }
                    else {
                        $("#result")
                        .removeClass("alert-success")
                        .addClass("alert-danger")
                        .html(data.error);
                    }
                },
                error : function(xhr, status, err) {
                    console.log(status + "\t" + err);
                },
                complete : function(xhr, status) {
                    setTimeout(function() {
                        $("#result")
                        .removeClass("alert-success")
                        .removeClass("alert-danger")
                        .html(null);
                    }, 3000);
                }
            });
        });
    });
</script>